@import "tailwindcss";

@layer utilities {
  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%);
      width: 30%;
    }
    50% {
      transform: translateX(100%);
      width: 60%;
    }
    100% {
      transform: translateX(300%);
      width: 30%;
    }
  }

  .animate-progress-indeterminate {
    animation: progress-indeterminate 2s infinite linear;
  }
}